# Railway Deployment Requirements
# Include base requirements
-r requirements.txt

# Note: Railway will automatically detect this file
# If this file doesn't exist, Railway will use requirements.txt
# Dockerfile should be used for proper system library installation (libpq)
